#pdf{


	margin-top: 5px;
	margin-bottom: 5px;
}

h5{
	color: black;
	font-size: 20px;
}
p{
	color: black;
}

.logo img{
	max-width: 150px; 
	max-height: 100px
}

.logo p{
	color: black;
	font-size: 11px;
}

.topo h5{

	color: black;
	font-size: 16px;
}

.topo label{
	color: black;
	font-size: 11px;
}

.topo span{
	color: black;
	font-size: 10px;
}

.topo{
	line-height: 15px;
	border-bottom: 1px solid black;
}

.tipo-exame{
	border-bottom: 1px solid black;
}

.tipo-exame h5{
	color: black;
}

.identificacao-paciente{
	line-height: 15px;
	border-bottom: 1px solid black;
}

.identificacao-paciente label{
	color: black;
	font-size: 12px;
}

.rodape{
	padding-top: 10px;
	line-height: 15px;
}

.rodape span{
	color: black;
	font-size: 12px;
}

.rodape-info{
	line-height: 10px;
}

.rodape-info h6{
	color: black;
}

.rodape-info span{
	font-size: 12.2px;
	color: black;
}

.corpo-exame{
	line-height: 1px;
}

.corpo-exame span{
	color: black;
	font-size: 11px;
}

.corpo-exame h6{
	color: black;
	font-weight: bold;
	padding-bottom: 2px;

}

.corpo-exame label{
	color: black;
	font-size: 11px;
}

.observacao{
	border-bottom: 1px solid black;
}

.observacao h6{
	font-weight: bold;
	color: black;
	text-decoration: underline;
}

.observacao span{
	color: black;
	font-size: 10px;
}

.assinatura{
	width: 140px;
	height: 40px;
}

.traco-assinatura{
	width: 50%;
	height: 1px;
	background-color: black;
	margin-top: -15px;
	margin-left: 25%;
}
/* lab é o css do titulo */
.lab{ 
	width: 100%;
	font-size: 11px;
	margin-left: auto;
	font-weight: bold;
	text-transform: uppercase;

}
/* linha embaixo do conteudo */
.col-md-6{
	
	line-height: 15px;
	padding-bottom: 10px;
}
/* referente ao texto descritivo */
.form-control.form-control-lg{
	font-size: 11px;
}
.arc{
	text-align: center;
	padding-top: 2px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
}

.OS{
	font-weight: bold;
}

.identificacao-paciente{
	padding-bottom: 10px;
}

.responsavel{
	font-size: 10px;
	font-weight: bold;
}






